{{!< default}}

{{#author}}
	<section class="author row">
		<figure class="col-md-2">
			{{!--<img src="{{img_url author.profile_image absolute="true"}}" alt="{{name}}'s Picture" />--}}
		</figure>
		<article class="col-md-10">
			<h2>{{name}}</h2>
			<p><strong>Quick bio:</strong> {{bio}}</p>
			<p class="meta"><strong>From:</strong> {{location}}</p>
			<p class="meta"><strong>Website:</strong> {{website}}</p>
		</article>
	</section>
{{/author}}